@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;

body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px; /* To prevent content from being hidden behind sticky navbar */
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% auto;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-rotate {
    animation: rotate 12s linear infinite;
  }
}

.glass-navbar {
  background: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
